<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hops Around B'Ham</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
</head>
<body>
<!-- Navigation Bar-->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" data-spy="affix" data-offset-top="400" ng-hide="hideNav" ng-controller="loginController">
  <div class="navcontainer container-fluid">
    <div class="nav navbar-nav ">
      <a href="#/home" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/category/type2/cocktailbars">Cocktails</a></li>
        <li><a href="#/category/type3/breweries">Breweries</a></li>
        <li><a href="#/category/type5/lounges">Lounges</a></li>
        <li><a href="#/category/type4/divebars">Dives</a></li>
        <li><a href="#/category/type1/sportsbar">Sports</a></li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="userSelect" ng-hide="hideUsers"><span>User Profiles</span>
            <select placeholder="User Profiles" ng-options="user.username for user in userList" ng-model="userId" ng-change="seeUser(userId.id)">
            </select>
        </li>
          <li  class="dropdown " id="loginControl">
            <a class="dropdown-toggle" data-toggle="dropdown">Log In</a>
            <div id="loginForm" class="dropdown-menu ">
              <form class="form" novalidate>
                      <input placeholder="Username" type="text" class="form-control" row="3" id="usernameInput" placeholder="username" ng-model="message" required></input>
                      <input placeholder="Password" type="password" class="form-control" row="3" placeholder="Password" id="passwordInput" required>
                      <button class="btn btn-default" ng-click="LoginPage()">Login</button>
              </form>
          </div>
        </li>
      </ul>
    </div>		
  </div>
</div>
<!-- End of navbar -->
    <ng-view></ng-view>



<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBClv-zTbB8Akv7LlKBA38u2VNvaTgqtow">
</script> 
  <script src="app.js"></script>
  <script src="ang-logic/controllers.ang.js"></script>
  <script src="ang-logic/directives.ang.js"></script>
  <script src="ang-logic/factories.ang.js"></script>
</body>
</html>