#infoStyle{
    position: relative;
    color:white;
    font-size:2em;
    padding:1em;
    top:50%;
    transform: translateY(15%);
    text-align:center;
}
#categoryContainer{
    margin-left:10%;
    margin-right:10%;
    float:right;
    background-image: url(../images/rustic-wood.jpeg);
}
#catImage{
    width:350px;
    height:250px;
    background-size:cover;
    margin:1em;
}
