#diveBanner{
    background-image: url("../images/divebar.png");
    background-size:cover;
    width:100%;
    height:500px;
    margin-bottom: 1em;
}
#infoStyle{
    position: relative;
    color:white;
    font-size:2em;
    padding:1em;
    top:50%;
    transform: translateY(15%);
    text-align:center;
}
#categoryContainer{
    margin-left:10%;
    margin-right:10%;
    float:right;
    background-color: black;
    // background-image: url(../images/rustic-wood.jpeg);
}
#catImage{
        border-radius: 18em;
    width:350px;
    height:250px;
    background-size:cover;
    margin:1em;
}