.move-down{
    padding-top: 5em;
}
.center-text{
    text-align: center;
}

.secondary-button{
    font-family: 'Mukta', sans-serif;
    color: darkred;
    background-color: lightgrey;
    width: 10em;
    height: 3em;
}