body {
  background: url('http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

//Button
.btn-info {
    color: #fff;
    background-color: #514E47;
    border-color: #514E47;
}

//Title
.home-title {
    font-size: 4em;
    color: white;
}

