.footer {
    position: bottom;
}

#loginForm{
    padding: 15px;
}


#userSelect{
    option:first-letter{
        text-transform: capitalize;
    }
    color: rgb(157, 157, 157);
    line-height: 50px;

}
.navbar-brand{
    font-size: 20px;
}