body, html {
    height: 100%;
}

// PARALLAX EFFECT
.parallax1 {
    /* The image used */
    background-image: url('../images/friends.jpg');
    /* Full height */
    height: 50%; 
    /* Create the parallax scrolling effect */
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blurbs {
    font-family: Enriqueta;
    color: navajowhite;
    text-align: center;
    font-weight: bolder;
}
.parallax2 {
    background-image: url('../images/lounge.jpg');
    height: 50%; 
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax3 {
    background-image: url('../images/bar.jpg');
    height: 50%; 
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    padding-top: 60px;
    background-image: url('../images/goham.jpg');
    height: 50%; 
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-location {
    font-size: 30px;
    color: navajowhite;
}

// FOOTER
.parallax5 {
    background-image: url('../images/rainbowbridge.jpg');
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}