#map {
  background-color: pink;
}
#singleImage {
  background-image: url("http://esq.h-cdn.co/assets/15/43/980x490/landscape-1445435538-beer.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
}
body {
  background: url('http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-info {
  color: #fff;
  background-color: #514E47;
  border-color: #514E47;
}
.home-title {
  font-size: 4em;
  color: white;
}
