#sportsBanner{
    background-image: url("../images/sports.jpg");
    background-size:cover;
    width:100vw;
    height:400px;
    margin-bottom: 1em;
    filter: blur(2px) grayscale(100%);
}
#diveContainer{
    // margin-left:5%;
    margin-right:5%;
}
#diveInnerContainer{
    // margin-left:3%;
    // margin-right:3%;
    float:right;
    width:45%;
    border:1px solid black;
    background-color:#363431;
    
    margin:0.5em;
      box-shadow: 0 1px 2px #334;
  
  -webkit-transition:0.5s;
  transition:0.5s;
}
.diveTextStyle{
    font-size:1.75em;
    padding:1em;
    // top:50%;
    // transform: translateY(15%);
    // text-align:center;
    font-family: 'Enriqueta', serif;
    color:#9d9d9d;
}
.dive-inner-text{
    float: none;
    width: 100%;
    padding-bottom: 15px;
}
#diveImage:hover{
    cursor: pointer;
}
#diveImage{
    background-position-y: -120px;
    margin: 0 auto;
    height: 20vh;
    background-size: cover;
    width: 40vw;
}
// #dive-background {
//   background: 
//     linear-gradient(
//       rgba(0, 0, 0, 0.5),
//       rgba(0, 0, 0, 0.5)
//     ),
//     url('../images/home-background.jpg');
//   background-size: cover;
//   height:100vh;
// }
#diveTitleStyle{
    color: darkred;
    font-family: Pacifico;
    font-size: 9em;
    height:150px;
    line-height:150px;
    margin-left:16%;
    width:70%
}
#dive-background:before { /*sudo class creates layer behind body */
    background-color: #C0C0C0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block; content:""; position: fixed; z-index:-1;
    top:0; left: 0; right: 0; height: 100%;
    opacity:.8;
}  
#innerTextStyle{
    font-family: Pacifico;
    color:#8b0000;
    font-size:1em;
}
#diveContainer:hover > div{ 
    opacity:0.5;
}     
#diveContainer > div:hover{ 
    opacity:1.0;
      -webkit-transform: scale(1.05);
          transform: scale(1.05);
}   
// #infoStyle{
//     position: relative;
//     color:white;
//     font-size:2em;
//     padding:1em;
//     top:50%;
//     transform: translateY(15%);
//     text-align:center;
//     font-family: 'Enriqueta', serif;
// }
// #categoryContainer{
//     margin-left:10%;
//     margin-right:10%;
//     float:right;
// }
// #catImage{
//     width:350px;
//     height:250px;
//     background-size:cover;
//     margin:1em;
// }

// .cat-title {
//     color: darkred;
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-family: Pacifico;
//     font-size: 110px;
// }

// #sportsContainer{
//     margin-right:5%;
// }
// #sportsInnerContainer{
//     float:right;
//     width:45%;
//     border:1px solid black;
//     background-color:#363431;
    
//     margin:0.5em;
// }
// .sportsTextStyle{
//     font-size:1.75em;
//     padding:1em;
//     font-family: 'Enriqueta', serif;
//     color:#9d9d9d;
// }
// .sports-inner-text{
//     float: none;
//     width: 100%;
//     padding-bottom: 15px;
// }
// #sportsImage:hover{
//     cursor: pointer;
// }
// #sportsImage{
//     background-position-y: -120px;
//     margin: 0 auto;
//     height: 20vh;
//     background-size: cover;
//     width: 40vw;
// }

// #sports-background:before { /*sudo class creates layer behind body */
//     background-color: black;
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//     display: block; content:""; position: fixed; z-index:-1;
//     top:0; left: 0; right: 0; height: 100%;
//     opacity:.8;
// }  
// #innerTextStyle{
//     font-family: Pacifico;
//     color:#8b0000;
//     font-size:1em;
// }