.user{
    h1:first-letter {
        text-transform:capitalize;
    }
}
.fav-list{
    overflow: scroll;
    height: 51vh;
    margin-top: 10px;
}
.fav-list-text{
    a {
        color: inherit;
    }
    .btn-direct {
        font-family: 'Mukta', sans-serif;
        color: red;
        background-color: #514E47;
        border-color: #514E47;
        width: 10em;
        height: 3em;
        padding: 16.5px;
        opacity: .50;
        font-size: 21px;
        font-weight: bold;
    }
    padding-bottom: 15px;
}
.right-container{
    transform: translateY(10%);
}
@media (max-width: 1199px){
    .right-container{
        transform: translateY(10%);
        height: 200px;
        width: 75%;
        margin: 0 auto;
    }
}