
    <!-- <div class="col-lg-12">
        <div id="cocktailBanner"></div>
    </div>
    <div class="cat-title">Cocktails</div>

<div ng-controller="BarGetCat">
    <div id="categoryContainer">
    <div ng-repeat="items in barsCat">
        
        <div class="col-md-6" id="infoStyle">
        <div class="col-lg-12">
            {{items.name}}
        </div>
        <div class="col-lg-12">
                    {{items.phone}}
        </div>
        <div class="col-lg-12">
                    {{items.location.address1}}
        </div>
        </div>
        <div class="col-lg-6" id="catImage" ng-style="{'background-image':'url({{items.image_url}})'}">
     
        </div>
    </div>
    </div>
</div> -->

	<div id="cocktailhome">

<!-- Header -->
	<header id="header" class="alt">
				<div class="inner">
					<h1>Cocktails Anyone?</h1>
					 <p>These Cocktails have me extra lit ;-) 
				</div>
			</header>

		<!-- Wrapper -->
			<!-- <div id="wrapper"> -->
<div class="col-lg-6">
				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Cocktails Anyone?</h2>
						<p>When used to refer to any generic alcoholic mixed drink, cocktail may <br />
						mean any beverage that contains two or more ingredients if at least <br />
						one of those ingredients contains alcohol.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

                <!-- Items -->
                
				   <!-- <div class="col-md-6">   -->
				
					<!-- <section class="main items"> -->
						<article class="item">
							<header>
								<a href="#"><img src="images/collins.jpg" alt="" /></a>
								<h3>{{items.name}}</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						 <article class="item">
							<header>
								<a href="#"><img src="images/steel.jpg" alt="" /></a>
								<h3>1st AND 23rd</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
                        </article>  
                        
						  <article class="item">
							<header>
								<a href="#"><img src="images/carrigans.jpg" alt="" /></a>
								<h3>Carrigan's Public House</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
                        </article>

					  <article class="item">
							<header>
								<a href="#"><img src="images/moon.jpg" alt="" /></a>
								<h3>Moonshine</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article> 
						<article class="item">
							<header>
								<a href="#"><img src="images/osushi.jpg" alt="" /></a>
								<h3>O Sushi Express</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
                        </article>

                          </div> 
                    <div class="col-lg-6">
						 <article class="item">
							<header>
								<a href="#"><img src="images/wxyz.jpg" alt="" /></a>
								<h3>WXYZ Bar</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/cosecha.jpg" alt="" /></a>
								<h3>Cosecha Urban Kitchen</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/alamo.jpg" alt="" /></a>
								<h3>Alamo Mexican Grill</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/las.jpg" alt="" /></a>
								<h3>Las Poblanas Mexican Restaurant</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/davidson.jpg" alt="" /></a>
								<h3>R Davidson Chophouse</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
                        </article>
                    </div>
					 </section> 
				 
				
				<!-- CTA -->
                  
                <section id="cta" class="main special">
						<h2>History of le Cocktail</h2>
						<p>The first definition of cocktail known to be an alcoholic beverage appeared<br/>
						in The Balance and Columbian Repository (Hudson, New York) May 13, 1806; editor Harry Croswell <br/>
						answered the question, "What is a cocktail?" Cock-tail is a stimulating liquor, composed of spirits <br/>
						of any kind, sugar, water, and bitters—it is vulgarly called bittered sling, and <br/>
						is supposed to be an excellent electioneering potion, in as much as it renders the <br/>
						heart stout and bold, at the same time that it fuddles the head. It is said, <br/>
						also to be of great use to a democratic candidate: because a person, having swallowed<br/>
						 a glass of it, is ready to swallow any thing else.
						</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section> 

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Hops Around BHAM! Design: <a href="https://github.com/gregcarver/Hops-Around-Bham">github</a>. 
					</footer>

			

		<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script> -->
			<!-- <script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> -->
 
	</div>
</html>