 <!-- <img src="http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg" class="home-background"> 
    <div style="background-image: url('http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg')"; class="home-container">
 -->

<!-- TITLE -->
<header>
    <h1 class="home-title">Hops Around B'ham</h1>
<!-- HOME BUTTON -->
    <div class="home-button">
        <a href="#/list" class="btn btn-info" role="button">Click to Enter</a>
    </div>
        <p class="age-disclaimer">*You must be 21 or older to enjoy this site!</p>
  </div>
</header>
<main>
<!-- AGE DISCLAIMER -->

</main>

