 <!-- <img src="http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg" class="home-background"> 
    <div style="background-image: url('http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg')"; class="home-container">
 -->

<!-- TITLE -->
<header>
    <h1 class="home-title">Hops Around the 'Ham</h1>
<!-- HOME BUTTON -->
    <!-- <p class="age-disclaimer">*You must be 21 to enjoy this site.*</p> -->
        <div class="enter-button">
            <a href="#/home" class="btn btn-info" role="button">21 & over?<br>Click Here</a>
        </div>
        <div class="leave-button">
            <a href="https://www.chuckecheese.com/" class="btn btn-info" role="button">If Not,<br>Click to Leave</a>
        </div>
    <!-- <br>
    <div class="blurbs">
    <p class="blurb-text">-Drink Good</p>
    <br>
    <p class="blurb-text">-Make Friends</p>
    <br>
    <p class="blurb-text">-Find Bars</p>
    <br>
    <p class="blurb-text">-Go 'Ham</p>
    <br> -->
</header>
<main>
<!-- AGE DISCLAIMER -->
    <!-- <p class="age-disclaimer">*You must be 21 or older to enjoy this site!</p> -->
</main>

