 <!-- <img src="http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg" class="home-background"> 
    <div style="background-image: url('http://www.menshealth.com/sites/menshealth.com/files/beer-main_0.jpg')"; class="home-container">
 -->

<!-- TITLE -->
<header>
    <h1 class="text-center home-title">Hops Around the 'Ham</h1>
<!-- HOME BUTTON -->
    <div class="enter-button"align="center">
        <a href="#/home" class="btn btn-info" role="button">21 & over?<br>Click Here</a>
    </div>
    <div class="leave-button" align="center">
        <a href="https://www.chuckecheese.com/" class="btn btn-info" role="button">If Not,<br>Click to Leave</a>
    </div>
</header>


