<!-- NAVBAR -->
<!-- <div class="navbar navbar-default navbar-fixed-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="container">
    <div class="navbar-header ">
      <a href="#" class="navbar-brand">Brand</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/category/cocktail">Cocktails</a></li>
        <li><a href="#/category/brewery">Breweries</a></li>
        <li><a href="#/category/pubs">Pubs</a></li>
        <li><a href="#/category/dives">Dives</a></li>
        <li><a href="#/category/sports">Sports</a></li>        
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li>
      </ul>
    </div>		
  </div>
</div> -->
<!-- /.navbar -->
<!-- <section class="first">
  <div class="container"> 
    <h1 class="landing-title">Hops Around the 'Ham</h1>
  </div>
</section> -->

<!-- PARALLAX SCROLL BEGIN-->

<!-- Friends -->
<div class="parallax1"></div>

<div style="height:50px;background-color:black;font-size:36px">
    <p>Make Friends.</p>
</div>

<div class="parallax"></div>

<!-- Bars -->
<div class="parallax2"></div>

<div style="height:300px;background-color:black;font-size:36px">
    <p>Find Bars.</p>
</div>

<div class="parallax"></div>

<!-- Drinks -->
<div class="parallax3"></div>

<div style="height:200px;background-color:black;font-size:36px">
    <p>Drink Good.</p>
</div>

<div class="parallax"></div>

<!-- Go Ham -->
<div class="parallax4"></div>

<div style="height:200px;background-color:black;font-size:36px">
    <p>Go 'Ham.</p>
</div>

<div class="parallax"></div>

<!-- FOOTER -->
<div class="parallax5"></div>

<div style="height:200px;background-color:black;">
    Contact Us:
    <!-- <img src="../images/twitter-logo-black.jpg" height="75" width="100" alt="">
    <img src="../images/facebook.png" height="50" width="75" alt="">
    <img src="../images/instagram.jpg" height="50" width="75" alt=""> -->

<!-- <p>Drinks. Friends. Food. Good Times.</p> -->
</div>
<!-- PARALLAX SCROLL END -->