<div ng-controller="landingController">
</div>
<!-- PARALLAX SCROLL BEGIN-->

<!-- Friends -->
<div class="parallax1"></div>

<div style="height:400px;background-color:black;font-size:36px">
    <p class="blurbs">Be Social.</p>
      <h3 class="blurbs-text">"Link up with friends at the best local hangouts."</h3>
</div>

<div class="parallax"></div>

<!-- Bars -->
<div class="parallax2"></div>

<div style="height:400px;background-color:black;font-size:36px">
    <p class="blurbs">Find Cool Spots.</p>
          <h3 class="blurbs-text">"Easily add places to your visit list."</h3>
</div>

<div class="parallax"></div>

<!-- Drinks -->
<div class="parallax3"></div>

<div style="height:400px;background-color:black;font-size:36px">
    <p class="blurbs">Indulge.</p>
      <h3 class="blurbs-text">"Get a taste of different cuisines & beverages."</h3>
</div>

<div class="parallax"></div>

<!-- Go Ham -->
<div class="parallax4"></div>

<div style="height:400px;background-color:black;font-size:36px">
    <p class="blurbs">Go 'Ham.</p>
        <h3 class="blurbs-text">"Discover all of what the <i>MAGIC CITY</i> has to offer."</h3>
</div>

<div class="parallax"></div>

<!-- FOOTER WITH SOCIAL MEDIA LINKS -->
<div class="parallax5"></div>

<!-- PARALLAX SCROLL END -->