
<div ng-controller="BarGetCat">
<button ng-click="GetCategory('cocktailbars')">test</button>
</div>
<!-- SECTIONS & IMAGES -->
<!-- <p class="list-titles">Find Bars</p>
<p class="list-titles">Make Friends</p>
<p class="list-titles">Become a B'Hamian</p> -->
<!-- <p class="list-titles"></p> -->
<!-- 

<header>
  <div class="header">
    <nav class="navigation">
      <a href="#" class="navbar-logo">Logo</a>
      <div class="navbar-right">
        <a href="../views/home.html">Bama Bound</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </div>
    </nav>

    <div class="video-container"> -->
      <!-- <video autoplay loop muted id="video-bg"> -->
<!-- <video width="2000" height="1000" autoplay muted loop>
       <source src="../videos/bhamtime.mp4" type="video/mp4">

       </video> 
    </div>
  </div>
</header>
<div class="portfolio-section">
  <div class="tagline-left">
    <div class="tagline-left-text">Serving the waters that serve our state.</div>
    <video autoplay muted loop class="tagline-video">
      <source src="http://www.bigcom.com/assets/2014/10/asmc_bg2.mp4" type="video/mp4">
    </video>
  </div>
<iframe width="560" height="315" autoplay src="https://www.youtube.com/embed/KlfrtfHuacI" frameborder="0" allowfullscreen></iframe> -->
     <!-- <div class="tagline-right"> 
      <div class="tagline-right-text">The future is for workers</div>  
    <video autoplay muted loop class="tagline-video">
     <source src="https://www.youtube.com/embed/KlfrtfHuacI"  >     
    </video>
  </div>  -->
<!-- </div> -->
