<div class="Banner">
    <div class="col-lg-12">
        <div id="loungeBanner"></div>
    </div>
    <div class="cat-title">Lounges</div>
</div>
<div ng-controller="BarGetCat">
    <div id="categoryContainer">
    <div ng-repeat="items in barsCat">
        
        <div class="col-md-6" id="infoStyle">
        <div class="col-lg-12">
            {{items.name}}
        </div>
        <div class="col-lg-12">
                    {{items.phone}}
        </div>
        <div class="col-lg-12">
                    {{items.location.address1}}
        </div>
        </div>
        <div class="col-lg-6" id="catImage" ng-style="{'background-image':'url({{items.image_url}})'}">
            <!--<img ng-src="{{items.image_url}}">-->
        </div>
    </div>
    </div>
</div>