<div ng-controller="singleBar">
    <div id="categoryContainer">
    
         
        <div class="col-md-6" id="infoStyle">
        <div class="col-lg-12">
            {{singleBar.name}}
        </div>
        <div class="col-lg-12">
                    {{singleBar.phone}}
        </div>
        <div class="col-lg-12">
                    {{singleBar.location.address1}}
        </div>
        </div>
        <div ng-repeat="items in singleBar">
            <div class="col-lg-6" id="catImage" ng-style="{'background-image':'url({{items.photos}})'}">
            </div>
            
        </div>

    </div>
    
</div>

