<div id="single-background">
  <div class="Banner">
    <div id="singleBanner"></div>
        

<div ng-controller="singleBar" class="move-down">
    
         <div class="user row">
         <h1 class="col-lg-12 cat-title center-text">{{singleBar.name}}</h1>
    </div> 
    <div class="col-lg-6 left-container">
        
             <div class="fav-list-text"> 
                 <h1 class="col-lg-12 single-name">{{singleBar.name}}</h1>
                <p class="col-md-12" style="color:darkred"><span class="glyphicon glyphicon-star" ></span>Rating: {{singleBar.rating}}</p>
                <p class="col-md-12 single-info">Phone #: {{singleBar.display_phone}}</p>
                <p class="col-md-12 single-info">Address: {{singleBar.location.display_address[0]}}</p>
                <p class="col-md-12 single-info">{{singleBar.location.display_address[1]}}</p>
                <br>
                <p class="col-md-12 single-name">Want to visit this spot?</p>
  <!--Bootstrap alert button-->
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn button-secondary btn-lg" id="single-page-button" data-toggle="modal" data-target="#myModal" ng-click="saveFavorite()">Save to List</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        <div class="modal-body">
          <p>Favorite Saved!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clicked()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End alert -->
             </div> 
                <div class="col-md-5" id="catImage" ng-style="{'background-image':'url({{singleBar.image_url}})'}"></div> 
    </div>
    <div class="col-lg-6 right-container">
        <div id="userMap" style="width:100%;height:400px">
    </div>
           
  </div>
</div>



