


<div ng-controller="singleBar">

    <!--<div id="singleContainer">-->
    
        
        <div class="col-md-6" id="singleInfo">
            <br>
            <h1>Beer Locator</h1>
                    <br>
                    {{singleBar.name}}
                    <br>
                    Phone: {{singleBar.phone}}
                    <br>
                    Address: {{singleBar.location.address1}}
                    <br>
                    <span class="glyphicon glyphicon-star"></span>        
                    Rating: {{singleBar.rating}}

            </div>
            <div class="col-md-6" id="catImage" ng-style="{'background-image':'url({{items.photos}})'}">
                im a map
            </div>
        
        <!--</div>-->

</div>

